<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled': pagination?.first === true}"><a class="page-link" (click)="sendToPage(0)">First</a></li>
        <li class="page-item" [ngClass]="{'disabled': pagination?.first === true}"><a class="page-link" (click)="sendToPage(currentPage - 1)">Previous</a></li>
        <li class="page-item" [ngClass]="{'disabled': page === currentPage}" *ngFor="let page of pageNumbers"><a class="page-link" (click)="sendToPage(page)">{{page + 1}}</a></li>
        <li class="page-item" [ngClass]="{'disabled': pagination?.last === true}"><a class="page-link" (click)="sendToPage(currentPage + 1)">Next</a></li>
        <li class="page-item" [ngClass]="{'disabled': pagination?.last === true}"><a class="page-link" (click)="sendToPage(totalPages - 1)">Last</a></li>
    </ul>
</nav>
